.main-home {
    display: flex;
    flex-direction: row;
    flex-grow:3;
    background-color: green;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
}

.welcome-box {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 247, 0);
  border-radius: 10px;
  padding: 7px;
  height: 60vh;
  width: 35%;
  box-shadow: 10px 10px 5px;
}

.welcome-box > * {
    padding: .7em;
}

.form-box {
    background-color: rgb(255, 65, 226);
    height: 40vh;
    width: 35%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px;
}

form > div {
    padding: 10px;
}

button {
    padding: 9px;
    border-radius: 3px;
    margin-left: 10px;
}