main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.welcome {
  display:flex;
  width: 35%;
  height: 50vh;
  background-color: lightgreen;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 40vh;
    background-color: pink;
}

.login-form > input {
    margin-bottom: 30px;
}