.foot-home {
    display: flex;
    background-color: blue;
    color: white;
    flex-grow: .5;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
  }