.whole {
    background: url("/images/brickwall1.png");
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.radio-bar {
    background-color:white;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mid {
    max-height: 80%;
}

.head {
    flex-grow: 1;
}

.mid {
    flex-grow: 8;
}

.foot {
    flex-grow: 1;
}

