header {
  background-color: red;
  color: white;
  flex-grow: .5;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

main {
  background-color: green;
  flex-grow: 3;
  text-align: center;
}

footer {
  background-color: blue;
  color: white;
  flex-grow: .5
  ;
  text-align: center;
}